 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

 footer {
            background: #222;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 40px;
        }

@media (max-width: 600px) {
            
            
            nav ul {
                flex-direction: column;
                gap: 10px;
            }}

 .ftrcont {

            display: flex;
            justify-content: space-evenly;

        }

        .ftr {
            list-style: none;
        }
        .ftr a {
            text-decoration: none;
            color: white;
        }