<link rel="stylesheet" href="/static/footer.css"/>

<footer>
        <p>
            &copy; 2025 Delicious Bites. All rights reserved.
        </p>
        <div class="ftrcont">
            <ul class="ftr">
                <li><a href="#">Destinations</a></li>
                <li><a href="#">Rooms</a></li>
            </ul>
            <ul class="ftr">
                <li><a href="#">Party</a></li>
                <li><a href="#">Reviews</a></li>
            </ul>
            <ul class="ftr">
                <li><a href="#">Privacy policies</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <p>
            123 Food Street, Flavor Town | Call: (123) 456-7890
        </p>
    </footer>